body {
  font-family: 'Carter One', cursive;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  background: linear-gradient(to right, rgb(255, 251, 0), rgb(0, 253, 255));
}

#dropdown {
  display: inline-flex;
}

.questions {
  border: solid 5px;
  padding: 20px;
  margin-top: 0px;
  margin: 20px;
}

input {
    margin-top: 30px;
    margin-bottom: 30px;
}

select {
  margin: 30px;
}

#favouritesButton {
  margin:0px;
}

#likeButton {
  margin: 0px;
}

.main-title {
  text-decoration: underline;
}

.subtitle {
  margin-bottom: 50px;
}

h5 {
  padding-top: 20px;
}

#title {
  text-decoration: none;
}

.Card {
  margin: 30px;
}

.card-title {
  text-decoration: none;
  padding-bottom: 10px;
}

.card-text {
  font-size: 25px;
  border: dashed white 2px;
  padding: 30px;
}

.zone {
  padding: 50px;
  padding-bottom: 30px;
  cursor:pointer;
  color:#FFF;
  font-size:2em;
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.box {
  background-color: #444;
  border: solid black 4px;
}

.box-back {
  visibility: hidden;
  position: absolute;
  top: 25px;
}

.box:hover {
  transform: scale(1.1);
}

.box:hover .box-front {
  visibility: hidden;
}

.box:hover .box-back {
  visibility: visible;
}

iframe {
  width: 100%;
  height: 100%;
}


.fadeout {
  opacity: 0;
  transition: 0.3s all;

.row {
  display: inline-block;
  column-count: 1;
    margin: 20px;
  margin-top: 50px;
}

.fav-body {
    border: solid black 2px;
    display: inline-block;
    padding: 20px;
    column-count: 1; 
    margin: 10px;
}

.fav-title {
  text-decoration: underline;
}









