body {
  font-family: 'Mandali', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 30px;
}

.logo {
  position: absolute;
  left:100px;
   height:130px;
}

.trademark {
  position: fixed;
  height: 80px;
  left: 20px;
  bottom: 20px;
}

#dropdown {
  display: inline-flex;
  flex-wrap: wrap;
}

.questions {
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 0px;
  margin: 20px;

}

input {
    margin-top: 30px;
    margin-bottom: 30px;
}

select {
  margin: 30px;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-danger {
    border-radius: 25px;
    border: 1.5px solid #d60019;
    color: #d60019;
    overflow: hidden;
}

.btn-primary {
    border-radius: 50px;
    border: 1.5px solid #1262d9;
    color: #1262d9;
    overflow: hidden;
}

.btn-success {
    border-radius: 50px;
    border: 1.5px solid #019114;
    color: #019114;
    overflow: hidden;
}

.home-title {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  font-size: 75px;
}

.workoutpageTitle {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  font-size: 50px;
}

.subtitle {
  margin-bottom: 25px;
}

h5 {
  padding-top: 20px;
}

#title {
  text-decoration: none;
}

.Card {
  margin: 30px;
}

.card-title {
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 25px;
}

.card-text {
  font-size: 20px;
  border: dashed white 2px;
  padding: 30px;
}

.zone {
  padding: 50px;
  padding-bottom: 30px;
  cursor:pointer;
  color:#FFF;
  font-size:2em;
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.box {
  background-color: #91908f;
  border: solid black 3px;
  border-radius: 10px;
}

.box-back {
  visibility: hidden;
  position: absolute;
  top: 100px;
  right: 39px;
}

.box:hover {
  transform: scale(1.1);
}

.box:hover .box-front {
  visibility: hidden;
}

.box:hover .box-back {
  visibility: visible;
}

iframe {
  width: 100%;
  height: 100%;
}

.fadeout {
  opacity: 0;
  transition: 0.3s all;
}

.row {
  display: inline-block;
  column-count: 1;
    margin: 20px;
  margin-top: 50px;
}

#homeButton {
  position: absolute;
  top: 12px;
  right: 30px;
  margin: 50px;
}

#favouritesButton {
  margin-bottom: 0px;
}

#likeButton {
margin-bottom: 0px;
}

.fav-body {
    border: solid black 2px;
    display: inline-block;
    padding: 20px;
    column-count: 1; 
    margin: 10px;
}

.fav-title {
  text-decoration: underline;
}